<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @physician.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @physician.email %>
</p>

<% if can? :update, @physician %>
    <%= link_to 'Edit', edit_physician_path(@physician) %> |
<% end %>
<%= link_to 'Back', physicians_path %>
