<nav><!-- top nav -->
  <div class="menu">
    <ul>
      <li><a href>Appointments</a>
        <ul>
          <li><%= link_to "New Appointment", appointments_new_path %></li>
          <li><%= link_to "Edit Appointment", appointments_index_path %></li>
        </ul>
      </li>
      <li><a href>Patients</a>
        <ul>
          <li><%= link_to "New Patient", patients_new_path %></li>
          <li><%= link_to "Edit Patient", patients_index_path %></li>
        </ul>
      </li>
      <li><a href>Physicians</a>
        <ul>
        <li><%= link_to "New Physician", physicians_new_path(@physician) %></li>
        <li><%= link_to "Edit Physician", physicians_index_path(@physician) %></li>
        </ul>
      </li>
      <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path %></li>
      <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav><!-- end of top nav -->

