<h1>Listing codes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @codes.each do |code| %>
      <tr>
        <td><%= code.num %></td>
        <td><%= number_to_currency(code.price) %></td>
        <td><%= link_to 'Show', code %></td>
        <% if can? :update, code %>
            <td><%= link_to 'Edit', edit_code_path(code) %></td>
            <td><%= link_to 'Destroy', code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Code', new_code_path %>
