<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @code.num %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@code.price) %>
</p>

<% if can? :update, @code %>
    <%= link_to 'Edit', edit_code_path(@code) %> |
<% end %>
<%= link_to 'Back', codes_path %>
