<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<% if can? :update, @patient %>
    <%= link_to 'Edit', edit_patient_path(@patient) %> |
<% end %>
<%= link_to 'Back', patients_path %>
