<h1>Listing Reports</h1>

<table>
  <thead>
    <tr>
      <th>Report Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @physician_reports.each do |physician_report| %>
      <tr>
        <td><%= physician_report.id %></td>
        <td><%= link_to 'Show', physician_report %></td>
        <td><%= link_to 'Edit', edit_physician_report_path(physician_report) %></td>
        <td><%= link_to 'Destroy', physician_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physician report', new_physician_report_path %>
