<p id="notice"><%= notice %></p>

<p>
<strong>Appointment:</strong>
<%= @physician_report.appointment.date.strftime("%Y-%m-%d %H:%M:%S") %>
</p>

<p>
<strong>Physician:</strong>
<%= @physician_report.appointment.physician.name %>
</p>

<p>
<strong>Email:</strong>
<%= @physician_report.appointment.physician.email %>
</p>

<p>
<strong>Invoice:</strong>
<%= number_to_currency(@physician_report.appointment.code.price) %>
</p>

<%= link_to 'Back', physician_reports_path %>
