<%= form_for(@patient_billing) do |f| %>
  <% if @patient_billing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient_billing.errors.count, "error") %> prohibited this patient_billing from being saved:</h2>

      <ul>
      <% @patient_billing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :appointment_id %><br>
      <%= f.collection_select :appointment_id,Appointment.all,:id,:date %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
