<h1>Listing Patient Billings</h1>

<table>
  <thead>
    <tr>
      <th>Appointment</th>
      <th>Invoice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_billings.each do |patient_billing| %>
      <tr>
        <td><%= patient_billing.appointment.date %></td>
        <td><%= number_to_currency(patient_billing.appointment.code.price) %></td>
        <td><%= link_to 'Show', patient_billing %></td>
        <td><%= link_to 'Edit', edit_patient_billing_path(patient_billing) %></td>
        <td><%= link_to 'Destroy', patient_billing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient billing', new_patient_billing_path %>
