<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment:</strong>
  <%= @patient_billing.appointment.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @patient_billing.appointment.patient.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient_billing.appointment.patient.email %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= number_to_currency(@patient_billing.appointment.code.price) %>
</p>

<%= link_to 'Edit', edit_patient_billing_path(@patient_billing) %> |
<%= link_to 'Back', patient_billings_path %>
