/* Created by http://freehtml5templates.com */

/* basics */

/* reset */
* {
margin: 0;
padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

/* standard body */
body {
margin: 0 auto;
width: 960px;
font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
font-size: 16px;
color: #333;
background: #dcc2a7 url("paperback.png") repeat;
}

/* standard alignments */
.alignleft {
float: left;
}

img.alignleft {
margin: 5px 10px 0 0; 
}

.alignright {
float: right;
}

img.alignright {
margin: 5px 0 0 10px; 
}

.center {
text-align: center;
}

.aligncenter, img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

/* Hx tags */

h1 {
font-size: 40px;
font-family: Garamond, Georgia, Times, "Times New Roman", serif;
padding: 20px 0;
}

h1 a {
color: #915f2a;
}

h2 {
font-size: 24px;
padding: 20px 0;
}

h2 a {
color: #915f2a;
}

h2 a:hover {
color: #000;
}

h3 {
font-size: 18px;
color: #333;
padding-bottom: 3px;
border-bottom: #afa67f 1px solid;
margin-bottom: 10px;
}

p {
padding-bottom: 20px;
}

/* nav */

nav {
background: #4d3d2e;
margin: 0 auto;
margin-bottom: 10px;
width: 960px;
display: block;
float: left;
position: relative;
z-index: 999;
}

nav .menu {
font-size: 16px;
font-weight: bold;
margin-left: 12px;
}

nav .menu ul {
list-style: none;
margin: 0;
}

nav .menu li {
float: left;
position: relative;
}

nav .menu a {
display: block;
text-decoration: none;
color: #fff;
padding: 0 30px;
line-height: 38px;
}



/* nav 1-level dropdowns */
nav .menu li ul { 
display: none; 
}

nav .menu ul li a {
display: block;
text-decoration: none;
background: #4d3d2e;
margin-left: 1px;
white-space: nowrap;
}

nav .menu ul li a:hover { 
background: #ccbeae;
text-decoration: underline;
}

nav .menu li:hover ul {
display: block;
position: absolute;
}

nav .menu li:hover li {
float: none;
}

nav .menu li:hover a { 
background: #ccbeae; 
}

nav .menu li:hover li a:hover { 
background: #e9e1d7;
color: #333;
}

/* header */

header {
float: left;
background: #fffaf0 url("introimage.png");
width: 960px;
height: 220px; /* for IE */
min-height: 220px; /* for not-IE */
position: relative;
z-index: 500;
}

header h1, header p {
position: relative;
z-index: 9999;
width: 600px;
}

header h1 {
padding: 30px 0 20px 20px;
color: #915f2a;
}

header p {
padding-left: 20px;
}

/* content and sidebar layout */

#content {
float: left; 
width: 580px; 
margin:10px 0 10px 0; 
padding:5px 20px 5px 20px;
background-color: #fffaf0;
border: 10px solid #B2A686;
}

aside {
float: right;
text-align: left; 
width: 300px; 
margin:0; 
padding:0;
}

/* article */
.articlecontent p a {
color: #915f2a;
}

.articlecontent p a:hover {
color: #333;
}

/* box shadow on pics */
.articlecontent img {
-webkit-box-shadow: 3px 3px 7px #777;
-moz-box-shadow: 3px 3px 7px #777;
}

/* sidebar */
aside section {
margin: 10px 0 0 0;
padding: 10px 15px;
background-color: #fffaf0;
border: 10px solid #B2A686;
}

.noborder {
border: none;
}

aside section ul {
margin: 0 0 0 20px;
list-style-image: url(arrow.gif);
color: #afa67f;
}

aside section ul li a {
display: block;
text-decoration: none;
color: #333;
}

aside section ul li a:hover {
background-color: #afa67f;
color: #fff;
}

/* footer */
footer {
clear: both;
float: left;
background-color: #fffaf0;
border: 10px solid #B2A686;
width: 940px;
margin: 0 auto;
margin-top: 10px;
}

footer p {
text-align: right;
font-size: 13px;
padding-right: 20px;
}

footer a {
color: #915f2a;
}

footer a:hover {
color: #333;
text-decoration: none;
}

