<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Patient</th>
      <th>Reason</th>
      <th>Physician</th>
      <th>Note</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.note %></td>
        <td><%= appointment.code.num %></td>
        <td><%= link_to 'Show', appointment %></td>
        <% if can? :update, appointment %>
            <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <% end %>
        <% if appointment.date - Time.now >= 8 %>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
