<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date.strftime("%Y-%m-%d %H:%M:%S") %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<p>
  <strong>Note:</strong>
  <%= @appointment.note %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @appointment.code_id %>
</p>

<% if can? :update, @appointment %>
    <%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<% end %>
<%= link_to 'Back', appointments_path %>
