<!DOCTYPE html>
<html lang="en">
<head>
  <title>CIS4339Project</title>
  <%= stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'shared/nav' %>

<header>
  <h1><%= link_to "Professional Dermitology", welcome_index_path %></h1>
  <p><b>Filler text here</b></p>
</header>

<div id="content">

<%= yield %>

</div>

<aside>

  <section>
    <h3>Administrative</h3>
    <ul>
      <li><%= link_to "Patient Billings", patient_billings_path %></li>
      <li><%= link_to "Reports", physician_reports_path %></li>
      <li><a href>Diagnostic Codes</a>
        <ul>
        <li><%= link_to "New Code", codes_new_path(@code) %></li>
        <li><%= link_to "Edit Code", codes_index_path(@code) %></li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h3>Contact Information</h3>
    <ul>
      <li>Office Phone: (123)555-1234</li>
      <li>Emergency Phone: (123)555-2345</li>
      <li>Email: doctor@office.com</li>
    </ul>
  </section>

</aside>

<footer>
  <br />
  <p>&copy; 2014 Lucas Phan</p>
</footer>

</body>
</html>
